.hero-section{
    margin: 0 130px;
    margin-top: 100px;

}
.hero-text{
     font-size: 32px;
     line-height: 80px;
     color: #fff;
}

.explore{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    width: fit-content;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 50px;
}
.explore img{
    width: 35px;
    height: 35px;
}

.hero-dots{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.hero-dots ul{
    display: flex;
    gap: 30px;
}

.link{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.orange{
    background-color: orangered;
}

.play{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    color: #fff;
}
.play img{
    height: 55px;
}